<div class="contact_container">

    <div class="contact_content_container">
      <div class="top">
        <p>Feel free to ask!</p>
        <div class="sent">
          <a href="shielamae.narido@evsu.edu.ph" class="sendBtn">Send a Mail</a>
        </div>
      </div>
      <div class="bottom">
        <p>other social media accounts</p>
        <div class="iconBtns">
          <div class="btns">
            <i class="fab fa-github"></i>
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </div>
    </div>
  </div>