.main-container {
    height: 100%;
  
    mat-sidenav {
      background: #673ab7;
      color: #fff;
      padding: 10px 20px 20px;
  
      .closeBtn {
        display: flex;
        justify-content: end;
        margin-bottom: 40px;
      }
  
      .navBtn {
        display: block;
        width: 100%;
        padding: 10px 20px;
        width: 200px;
        margin-bottom: 5px;
        text-align: start;
  
        mat-icon {
          margin-right: 10px;
        }
      }
    }
  
    mat-sidenav-content {
      
      
      mat-toolbar {
        display: flex;
        justify-content: space-between;
      }
  
      .app-content {
       padding: 20px;
      }
    }
  }