

.home-mobile-card, .home-desk-card {

    mat-card-header {
  
      .home-header-image {
        background-image: url('https://avatars.githubusercontent.com/u/59472122?v=4');
        background-size: cover;
      }
    }
  
    mat-card-content {
  
      .qq {
        margin-top: 30px;
      }
  
      .ee {
        margin-bottom: 20px;
      }
      
      .inf {
        display: flex;
        align-items: center;
  
        mat-icon {
          margin-right: 10px;
        }
      }
  
      .chip {
        margin-top: 100px;
      }
    }
  }
  
  .home-desk-card {
    display: none;
  }
  
  @media only screen and (min-width: 600px) {
    .home-desk-card {
      display: block;
    }
  
    .home-mobile-card {
      display: none;
    }
  }